:root {
    /* Where X is the index of the color in the palette */
    /* The colors 1-6 are already used by Obsidian */
    --canvas-color-7: 110, 190, 255; /* RGB */
    --canvas-color-8: 255, 255, 255;
    --canvas-color-9: 245, 188, 228;
}
